build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Kgithub-notify
Kgithub-notify_autogen/
.cmake/
compile_commands.json
*.a
*.so
*.dylib
*.dll
*.exe
*.user
TestMain
TestMain_autogen/
Testing/
CTestTestfile.cmake
DartConfiguration.tcl

TestGitHubClient
TestGitHubClient_autogen/
kgithub-notify
kgithub-notify_autogen/
*.py
