<?xml version="1.0" encoding="UTF-8"?>
<gui name="kgithub-notify" version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">

    <MenuBar>
        <Menu name="file">
            <Action name="options_configure"/>
            <Action name="notifications_settings"/>
            <Separator/>
            <Action name="file_close"/>
            <Action name="file_quit"/>
        </Menu>
        <Menu name="edit">
            <text>&amp;Edit</text>
            <Action name="edit_select_all"/>
            <Action name="edit_deselect"/>
        </Menu>
        <Menu name="view">
            <text>&amp;View</text>
            <Action name="view_redisplay"/>
        </Menu>
        <Menu name="tools">
            <text>&amp;Tools</text>
            <Action name="trending"/>
            <Action name="debug"/>
            <Action name="repo_list"/>
            <Separator/>
            <Menu name="issues_menu">
                <text>Issues</text>
                <Menu name="submenu_issues_open">
                    <text>Open</text>
                    <Action name="action_issues_open_created_by_me"/>
                    <Action name="action_issues_open_assigned_to_me"/>
                    <Action name="action_issues_open_mentioned"/>
                    <Action name="action_issues_open_contributed"/>
                    <Action name="action_issues_open_my_repos"/>
                    <Action name="action_issues_open_my_forks"/>
                    <Action name="action_issues_open_admin_access"/>
                    <Action name="action_issues_open_archived"/>
                    <Action name="action_issues_open_unfiltered"/>
                </Menu>
                <Menu name="submenu_issues_closed">
                    <text>Closed</text>
                    <Action name="action_issues_closed_created_by_me"/>
                    <Action name="action_issues_closed_assigned_to_me"/>
                    <Action name="action_issues_closed_mentioned"/>
                    <Action name="action_issues_closed_contributed"/>
                    <Action name="action_issues_closed_my_repos"/>
                    <Action name="action_issues_closed_my_forks"/>
                    <Action name="action_issues_closed_admin_access"/>
                    <Action name="action_issues_closed_archived"/>
                    <Action name="action_issues_closed_unfiltered"/>
                </Menu>
                <Menu name="submenu_issues_all">
                    <text>All Statuses</text>
                    <Action name="action_issues_all_created_by_me"/>
                    <Action name="action_issues_all_assigned_to_me"/>
                    <Action name="action_issues_all_mentioned"/>
                    <Action name="action_issues_all_contributed"/>
                    <Action name="action_issues_all_my_repos"/>
                    <Action name="action_issues_all_my_forks"/>
                    <Action name="action_issues_all_admin_access"/>
                    <Action name="action_issues_all_archived"/>
                    <Action name="action_issues_all_unfiltered"/>
                </Menu>
            </Menu>
            <Menu name="prs_menu">
                <text>Pull Requests</text>
                <Menu name="submenu_prs_open">
                    <text>Open</text>
                    <Action name="action_prs_open_created_by_me"/>
                    <Action name="action_prs_open_assigned_to_me"/>
                    <Action name="action_prs_open_mentioned"/>
                    <Action name="action_prs_open_review_requested"/>
                    <Action name="action_prs_open_contributed"/>
                    <Action name="action_prs_open_my_repos"/>
                    <Action name="action_prs_open_my_forks"/>
                    <Action name="action_prs_open_admin_access"/>
                    <Action name="action_prs_open_archived"/>
                    <Action name="action_prs_open_unfiltered"/>
                </Menu>
                <Menu name="submenu_prs_closed">
                    <text>Closed</text>
                    <Action name="action_prs_closed_created_by_me"/>
                    <Action name="action_prs_closed_assigned_to_me"/>
                    <Action name="action_prs_closed_mentioned"/>
                    <Action name="action_prs_closed_review_requested"/>
                    <Action name="action_prs_closed_contributed"/>
                    <Action name="action_prs_closed_my_repos"/>
                    <Action name="action_prs_closed_my_forks"/>
                    <Action name="action_prs_closed_admin_access"/>
                    <Action name="action_prs_closed_archived"/>
                    <Action name="action_prs_closed_unfiltered"/>
                </Menu>
                <Menu name="submenu_prs_merged">
                    <text>Merged</text>
                    <Action name="action_prs_merged_created_by_me"/>
                    <Action name="action_prs_merged_assigned_to_me"/>
                    <Action name="action_prs_merged_mentioned"/>
                    <Action name="action_prs_merged_review_requested"/>
                    <Action name="action_prs_merged_contributed"/>
                    <Action name="action_prs_merged_my_repos"/>
                    <Action name="action_prs_merged_my_forks"/>
                    <Action name="action_prs_merged_admin_access"/>
                    <Action name="action_prs_merged_archived"/>
                    <Action name="action_prs_merged_unfiltered"/>
                </Menu>
                <Menu name="submenu_prs_all">
                    <text>All Statuses</text>
                    <Action name="action_prs_all_created_by_me"/>
                    <Action name="action_prs_all_assigned_to_me"/>
                    <Action name="action_prs_all_mentioned"/>
                    <Action name="action_prs_all_review_requested"/>
                    <Action name="action_prs_all_contributed"/>
                    <Action name="action_prs_all_my_repos"/>
                    <Action name="action_prs_all_my_forks"/>
                    <Action name="action_prs_all_admin_access"/>
                    <Action name="action_prs_all_archived"/>
                    <Action name="action_prs_all_unfiltered"/>
                </Menu>
            </Menu>
            <Menu name="repos_menu">
                <text>Repositories</text>
                <Action name="action_repos_created_by_me"/>
                <Action name="action_repos_my_repos"/>
                <Action name="action_repos_my_forks"/>
                <Action name="action_repos_admin_access"/>
                <Action name="action_repos_archived"/>
                <Action name="action_repos_unfiltered"/>
            </Menu>
        </Menu>
        <Menu name="help">
            <Action name="help_about_app"/>
            <Action name="about_qt"/>
        </Menu>
    </MenuBar>
</gui>
