[Desktop Entry]
Name=KGitHub Notify
Comment=GitHub Notification System Tray
Exec=kgithub-notify
Icon=kgithub-notify
Type=Application
Categories=Development;Utility;Qt;KDE;
StartupWMClass=kgithub-notify
Terminal=false
X-KDE-autostart-after=panel
